.modala {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.4);
}

.monitor {
    margin: 108px 0;
    background-color: #F1EFEE;
    height: fit-content;
    border-radius: 30px;
}

.card-container {
    display: flex;
    margin: 66px;
    overflow: hidden;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    font-size: 21px;
}

.page-title {
    display: flex;
    flex-direction: column;
    flex: 0.9;
    gap: 39px;
}

.page-title h2 {
    font-size: 28px;
    font-weight: 500;
}

.page-title h1 span {
    align-items: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}

.page-title p {
    font-size: 19px;
    color: #8B8B8B;
    line-height: 32px;
    font-weight: 300;
}

.page-plant {
    flex-direction: column;
    display: flex;
    gap: 19px
}

.page-plant-card {
    cursor: pointer;
    background-color: rgba(241, 239, 238, 1) ;
    display: flex;
    padding: 19px 30px;
    border-radius: 20px;
    align-items: center;
    gap: 23px;
    font-size: 18px;
    width: 350px;
}

.page-plant-card:active {
    filter: invert();
    
}

.text {
    display: flex;
    flex-direction: column;
}

.logo img {    
    width: 40px;
}

.card-control {
    display: flex;
    gap: 14px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card-plant {
    margin: 40px 0 29px 0;
}
.card-plant h2 {
    font-size: 32px;
    font-weight: 600;
}

.card-content {
    height: fit-content;
}

.card-content-isi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 36px;
}


.card-content-container {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    gap: 15px;
    padding: 35px 35px 20px 35px;
    border-radius: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.content h1 span {
    font-size: 80px;
}

.dev h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }

.value {
    gap: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items:self-start;
    flex: 1;
}

.value h1 {
    margin-top: -13px;
    width: 225px;
}

.value h2 {
    width: 30.8px
}

.content span {
    display: flex;
    justify-content: space-between;
}


.rnd {
    background-color: #FF674F;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.connect {
    background-color: #619A74;
}

.pressure {
    background-color: #000000;
    color: white;
}

.humidity {
    background-color: #7896FF;
    color: black;
}

.temperature {
    background-color: #FEA26E;
    color: black;
}