.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.4);
}



.modal-content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: #F1EFEE;
    margin: auto;
    padding: 44.78px;
    border: none;
    border-radius: 25px;
    width: 695px;
    gap: 22.18px;
}


.modal-header {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.modal-column, .modal-colmn {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10.77px;
}
.modal-column input, .joss {
    font-size: 16px;
    height: 62.33px;
    border: 0;
    border-radius: 10px;
    background-color: white;
    padding: 0 25px;
    appearance: none;
}

.modal-column input:disabled {
    background-color: lightgrey;
}

.modal-column input {
    font-size: 16px;
    height: 62.33px;
    border: 0;
    border-radius: 10px;
    background-color: white;
    padding: 0 25px;
    appearance: none;
}

.custom-control {
    border: 0;
    border-radius: 10px;
  }
  
  .custom-control-focused {
    box-shadow: 0 0 0 1px red;
  }
  
  .custom-option-selected {
    background-color: red;
    color: white;
  }

.modal-cta {
    margin-top: 55px;
    display: flex;
    justify-content: flex-end;
    gap: 13.75px;
}

.confirm {
    position: 50%;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    gap: 42.1px;
}

.confirm button {
    width: 160px;
}

.error {
    margin-top: 22px;
    color: red;
    text-align: center;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.page-table {
    margin: 52px 0 97px 0;
    background-color: #F1EFEE;
    padding: 40px 55px;
    border-radius: 20px;
    .MuiDataGrid-root {
        border: none;

    }

    .MuiDataGrid-root .MuiDataGrid-cell {
      border: none ;
      outline: none ;
      box-shadow: none;
      color: black;
      font-size: 16px;
      line-height: 200px;
      font-weight: 500;

    }

    .MuiDataGrid-root .MuiDataGrid-columnHeader {
        font-size: 19px;
        font-weight: 800;
    }

} 