* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: -0.3px;
}

.main-container {
    background-color: black;
    height: auto;
}

.page-container {
    margin: 0 auto;
    border-radius: 50px 50px 0px 0px;
    background-color: white;
    height: auto;

}

.border-container {
    display: flex;
    max-width: 1440px;
    padding: 0 130px;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 1440px;
    overflow: hidden;
    margin-top: 88px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.page-search {
    margin-top: 45px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.page-search input {
    background-color: #F1EFEE;
    border-radius: 20px;
    border: none;
    height: 73px;
    padding: 0 55px;
    font-size: 18px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-control {
    display: flex;
    gap: 20px;
}

button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 70px;
    padding: 8px 25px;
    height: 49px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #4BA5B4;
    text-decoration: none;
}

.cancel {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.cancel:hover,
.cancel:focus {
    background-color: grey;
    color: white;
    border: none;
}

.delete {
    background-color: #FF674F;
}
